* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.one {
    display: flex;
    flex-direction: row;

}



body {
    background-color: black;
}



.a {
    display: flex;
    vertical-align: middle;
}

.A {
    display: flex;
    flex-direction: row;
    margin-left: 27%;
}


.b {
    margin-top: 23px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    background-color: #2E2925;
    height: 35px;
    border-radius: 5px;
}



.c {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #2E2925;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-family: National2CondensedBold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    padding: 10px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 23px;

}

.c:focus {
    background-color: rgb(105, 96, 96);
    color: white;

}

.i {
    position: absolute;
    right: 110px;
    margin-top: 20px;
    background-color: #E4002B;
    border: none;
    border-radius: 7px;
}

.d {
    background-color: #2E2925;
    color: white;
    position: absolute;
    right: 350px;
    box-sizing: border-box;
    border-radius: 25px;
    height: 48px;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    width: 190px;
    padding: 0 14px;
    margin-top: 17px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    border: none
}


.e {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    justify-content: center;
    background-image: url("https://www.kfcpakistan.com/assets/images/bucket-empty.png");
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    border: none;
    background-color: #E4002B;
}



.c1:hover {
    background-color: rgb(105, 96, 96);
}



.f {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.g {
    margin-top: 2%;
    padding: 2em;
    margin-top: 1em;
}



.hh {
    font-family: National2CondensedBold;
    font-weight: 300;
    display: flex;
    color: #D4D4D4;
    justify-content: center;
    gap: 5px;
}


h1 {
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}



.h {
    font-family: National2CondensedBold;
    font-weight: 300;
    display: flex;
    color: #D4D4D4;
    margin-top: 7em;
    justify-content: center;
    gap: 5px;
}



.j {
    background: #1C1816;
    border-radius: 5px;
    padding: 3em;
    width: 500px;
}




#w {
    box-sizing: border-box;
    align-items: center;
}

input[type='email'] {
    width: 100%;
    color: white;
}


input[type='number'] {
    background-color: #343434;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10.4px;
    padding-bottom: 10.4px;
    width: 70%;
    margin-top: 25px;
    color: white;
}


#two {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;
}

#three {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;
    margin-top: 3%;
    margin-bottom: 8%;
}

span {
    color: white;
    position: absolute;
    left: 50;
    top: 40;
}


.l {
    color: #fff;
    background-color: #E4002B;
    padding: 0.5em;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    width: 40%;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    margin-top: 0.5em;
}




.lsign {
    color: #fff;
    background-color: #E4002B;
    padding: 0.5em;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    width: 50%;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    margin-top: 0.5em;
}



.m {
    font-family: National2CondensedBold;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin-top: 40px;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin-right: 140px;
}

.n {
    width: 50%;
    margin-left: 50px;
}

.o {
    background: #1C1816;
    border: none;
    width: 100%;
    height: 40%;
    margin-top: 50px;
}

.o1 {
    background: #1C1816;
    border: none;
    width: 100%;
    height: 400%;
    margin-top: 50px;
}

.o2 {
    background: #1C1816;
    border: none;
    width: 100%;
    margin-top: 130px;
}


.p {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 35%;
    padding-top: 100px;
    margin-right: auto;
}

.p1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 35%;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-right: auto;
}

.r {
    width: 1px;
    height: 45px;
    margin: 0 32px;
    background: #ffffff;
    margin-top: 20px;
}


.fFlex {
    display: flex;
}


#v {
    display: flex !important;
    width: 46px;
    height: 46px;
    display: flex;
    background: #ffffff;
    border-radius: 100px;
    justify-content: center;
}

.ddd {
    color: #FF0302;
    width: 1.2em;
    height: 1.2em;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding-top: 5px;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    vertical-align: middle;
}


.t {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 20px;
    cursor: pointer;
    justify-content: center;
}


.nbH {
    font-size: clamp(1rem, 2vw, 2rem);

}


.yq {
    width: clamp(270px, 20%, 1000px);
    box-sizing: border-box;
    border-radius: 3%;
    background-color: #1C1816;
    filter: drop-shadow(0px 4px 33px rgba(228, 0, 43, 0.11));
    color: white;
}




.x {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
}




.xx {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
}



.X {
    display: flex;
    gap: 15px;
    margin-left: 120px;
    margin-right: 120px;
    height: 600px;

}



.Y {
    padding: 29px 17px 14px 17px;
    cursor: pointer;
    height: 80%;
    width: 25%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #1C1816;
    filter: drop-shadow(0px 4px 33px rgba(228, 0, 43, 0.11));
    margin-bottom: 4%;
}


.bucketB {
    color: #fff;
    background-color: #E4002B;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    border: none;
    border-radius: 7px;
}



#fourxtra {
    color: #fff;
    background-color: #E4002B;
    height: 35px;
    padding-left: 12px;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    padding-right: 12px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 7px;
    width: 124px;
    position: absolute;
    right: 20px;
    top: 417px;
}

#four:hover {
    background-color: #5c202d;
}



.b1 {
    margin-top: 180px;
    margin-left: 120px;
    margin-right: 120px;
}


.cb {
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.cb1 {
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.cb2 {
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.cb3 {
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.ee {
    background-color: #E4002B;
    color: white;
    font-size: clamp(1rem, 1.8rem + 1vw, 2rem);
    border: none;
    padding: 0.5em;
    border-radius: 0.3rem;
    margin-left: 1em;
}



.qqq {
    background-color: #E4002B;
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 0.3rem;
    font-size: clamp(1rem, 1.8rem + 1vw, 1.5rem);

}

#ppp {
    background-color: #E4002B;
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 0.3rem;
    font-size: clamp(1rem, 1.8rem + 1vw, 1.5rem);
    width: 100%;
}




.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    z-index: 1200;
    transition: 0.2s all;
}

.closebtn {
    color: white;
    background-color: black;
}


::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, .2);
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


.emptyB {
    margin-left: 50%;
}


.delB {
    color: #E4002B;
    border: none;
    background-color: transparent;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}



.Btn {
    background-color: transparent;
    color: #E4002B;
    border: none;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);

}



.Btn2 {
    background-color: transparent;
    color: #E4002B;
    border: none;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}


.btn2 {
    background-color: transparent;
    color: #E4002B;
    border: none;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);

}



.e1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1em;
    z-index: 1;
    justify-content: space-between;
}



.SBC {
    color: white;
    font-weight: bold;

}


.viewB {
    z-index: 1;
    bottom: 1em;
    padding: 0.5em;
    background-color: #E4002B;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    margin-top: 1em;
}



.zxc {
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.8rem + 1vw, 2.5rem);
    font-weight: 500;
}


.drop {
    background-color: #1C1816;
    border: none;
}


.drop:hover {
    background-color: #1C1816;
    border: none;
}

.drop:focus {
    background-color: #1C1816;
    border: none;
}

#asd {
    width: 380px;
    background-color: #1C1816;
}

.bucket {
    margin-right: 130px;
    margin-left: 130px;
    margin-top: 310px;
    color: white;

}


.small1 {
    max-width: 5rem;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}


.Btn21 {
    background-color: transparent;
    color: #E4002B;
    margin-top: 44px;
    position: absolute;
    left: 87px;
    border: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.Btn111 {
    background-color: transparent;
    color: #E4002B;
    margin-top: 30px;
    position: absolute;
    left: 90px;
    border: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.Btn11 {
    margin-top: 46px;
    position: absolute;
    left: 119px;
    border: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.Btn211 {
    background-color: transparent;
    color: #E4002B;
    margin-top: 41px;
    position: absolute;
    left: 132px;
    border: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.btn211 {
    background-color: transparent;
    color: #E4002B;
    margin-top: 41px;
    position: absolute;
    left: 142px;
    border: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.Btn2111 {
    background-color: transparent;
    color: #E4002B;
    border: none;
    position: absolute;
    right: 515px;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    margin-top: 35px;
}

.y1 {
    padding: 29px 17px 14px 17px;
    height: 380px;
    width: 365px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #1C1816;
    margin-top: 1%;
}

.y1:focus {
    border: none;
}

.qaq {
    background-color: rgb(49, 48, 48);
    color: white;
}

#ip:hover {
    background-color: #E4002B;
    cursor: pointer;
}


.v1 {
    width: 40px;
    height: 40px;
    background: #E4002B;
    border-radius: 100px;
    margin-left: 0.5em;
    margin-top: 0.2em;
}



.faraz {
    color: white;
    margin-top: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    
}



.yy {
    padding: 3em;
    text-align: center;
    border-radius: 12px;
    background-color: #1C1816;
    filter: drop-shadow(0px 4px 33px rgba(228, 0, 43, 0.11));
    margin-top: 1%;
    width: clamp(470px, 50%, 1000px);
    
}




.y11 {
    display: flex;
    color: white;
    font-size: clamp(2rem, 1.8rem + 1vw, 2rem);
    justify-content: space-between;
    margin-top: 1em;
}

.SU {
    margin-top: 1%;
    background-color: #1C1816;
    width: 30%;
    height: 410px;
    padding: 25px;
    margin-left: 500px;
    border-radius: 5px;
    color: white;
}

.sos {
    color: white;
    background-color: #E4002B;
    border-radius: 2px;
    font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
    padding: 0.5em;
    text-decoration: none;

}

#pope {

    background-image: url(https://www.kfcpakistan.com/assets/images/bg.png);
    height: 1000px;
}

#pop {
    padding-top: 27.5px;

}


.SBH {
    position: fixed;
    background-color: black;
    width: 29%;
    height: 110px
}






.brL {
    background-color: #3F3F3F;
    width: 850px;
    margin-top: 1.5%;
    height: 2px;
}


.edvL {
    margin-left: 60px;
    border-radius: 3px;
    background-color: #E4002B;
    width: 100px;
    margin-top: 10px;
    height: 3.5px;

}


.accL {
    margin-left: 60px;
    border-radius: 3px;
    background-color: #E4002B;
    width: 100px;
    margin-top: 10px;
    height: 3.5px;
}


.sL {
    margin-left: 60px;
    border-radius: 3px;
    background-color: #E4002B;
    width: 100px;
    margin-top: 10px;
    height: 3.5px;
}


.sbL {
    margin-left: 60px;
    border-radius: 3px;
    background-color: #E4002B;
    width: 100px;
    margin-top: 10px;
    height: 3.5px;
}



.tsL {
    background-color: #3F3F3F;
    width: 950px;
    margin-top: 2%;
    height: 2px;
}


.kbN {
    font-size: clamp(1rem, 1rem + 1vw, 1.7rem);
    font-weight: bold;
    line-height: 1.167;
    color: white;

}


.kbDesc {
    color: white;
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    height: auto;
    margin-top: 1em;
}




.kbP {
    color: white;
    font-size: clamp(2rem, 1.8rem + 1vw, 2rem);
    font-weight: 400px;
}



.y {
    padding: 1em;
    text-align: center;
    border-radius: 12px;
    background-color: #1C1816;
    filter: drop-shadow(0px 4px 33px rgba(228, 0, 43, 0.11));
    width: clamp(300px, 20%, 1000px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}



.tsFlex {
    justify-content: center;
    gap: 1.5rem;
    margin-top: auto;
}







.sbemptyB {
    text-align: center;
    font-size: clamp(1rem, 1.8rem + 1vw, 2rem);
    margin-top: 8em;
}



.sbItem {
    background-color: #1C1816;
    border-radius: 7px;
    padding: 0.5em;
    display: flex;
    margin-top: 1.5em;
    font-size: clamp(1rem, 1rem + 1vw, 1.2rem);
    display: flex;
    align-items: center;
}


.bTicks {
    display: flex;
    margin-top: 1em;
    color: white;
    justify-content: center;
}



.bcheck {
    background-color: #1C1816;
    border-radius: 7px;
    margin-top: 20px;
    width: 740px;
    height: 160px;
    padding: 15px;
    display: flex;
}


.fl {
    background-color: #E4002B;
    width: 10em;
    margin-top: 1.5em;
    margin-left: 0.5em;
    height: 1px;
}



.fl1 {
    background-color: #E4002B;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
    height: 1px;
}


.count {
    display: flex;
    position: absolute;
    left: 150px;
    margin-top: 20px;
    background-color: transparent;
}


.future {
    display: flex;
    margin-top: 1em;
    gap: 0.5em;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    background-color: #5c202d;
}


.done {
    text-decoration: none;
    color: white;
}


.cOut {
    text-decoration: none;
    color: white;
    margin-left: 130px;
}



.belowNBH {
    background-color: #E4002B;
    padding: 0.7em;
    border: 3px solid white;
    border-radius: 8px;
    width: 18%;
}


.NBhover {
    padding: 0.5em;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.NBhover:hover {
    background-color: #E4002B;

}


.nbLink {
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);

}



h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}


h2 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
}


h3 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}